<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    {% if site.prevent_indexing %}
      <meta name="robots" content="noindex">
    {% endif %}

    <!-- Use title if it's in the page YAML frontmatter -->
    {% if page.title and page.url != "/" %}
    <title>{{ page.title }} - {{ site.title }}</title>
    {% else %}
    <title>{{ site.title | default: "GOV.UK Documentation" }}</title>
    {% endif %}

    <!--[if gt IE 8]><!--><link href="{{ "/stylesheets/screen.css" | relative_url }}" media="screen" rel="stylesheet" ><!--<![endif]-->
    <!--[if lte IE 8]><link href="{{ "/stylesheets/screen-old-ie.css" | relative_url }}" media="screen" rel="stylesheet" ><![endif]-->

    <link rel="canonical" href="{{ page.url | absolute_url }}">

    <link href="{{ "/stylesheets/print.css" | relative_url }}" media="print" rel="stylesheet" >
    <script src="{{ "/javascripts/application.js" | relative_url }}" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
    <div class="app-pane">
      <div class="app-pane__header toc-open-disabled">
        <a href="#content" class="skip-link">Skip to main content</a>

        {% include header.html %}
      </div>

      <div id="toc-heading" class="toc-show fixedsticky">
        <a href="#toc" class="toc-show__label js-toc-show" aria-controls="toc">
          Table of contents <span class="toc-show__icon"></span>
        </a>
      </div>

      <div class="app-pane__body" data-module="in-page-navigation">
        <div class="app-pane__toc">
          <div class="toc" data-module="table-of-contents">
            <a href="#" class="toc__close js-toc-close" aria-controls="toc" aria-label="Hide table of contents"></a>
            <nav id="toc" class="js-toc-list toc__list" aria-labelledby="toc-heading">
              {% include toc.html html=content %}
            </nav>
          </div>
        </div>

        <div class="app-pane__content toc-open-disabled">
          <main id="content" class="technical-documentation" data-module="anchored-headings">
            {{ content }}
          </main>

          {% include footer.html %}
        </div>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
