name: Auto-approve date change only PR

on:
  pull_request:
    paths:
      - "source/**"

permissions: {}

env:
  PR_OWNER: ${{ github.event.pull_request.user.login }}
  GITHUB_OAUTH_TOKEN: ${{ secrets.MOJ_AUTO_APPROVE_WRITE_BOT_PAT }}
  TEAM_NAME: "operations-engineering"

jobs:
  check-diff:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read

    strategy:
      matrix:
        os: [ubuntu-latest]

    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: Checkout PR code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: |
          git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*

      - name: owner of PR
        run: |
          echo "$PR_OWNER"

      - name: Run git diff against repository
        run: |
          git diff origin/main HEAD > changes

      - name: Auto-approval check
        id: approve_pr_check
        uses: ministryofjustice/cloud-platform-doc-checker@80007295381af4f89ceb18991cd8bcfc5babd9ef # v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.MOJ_AUTO_APPROVE_WRITE_BOT_PAT }}

      - name: Approving PR
        uses: hmarr/auto-approve-action@f0939ea97e9205ef24d872e76833fa908a770363 # v4.0.0

        if: steps.approve_pr_check.outputs.review_pr == 'true'
        with:
          github-token: "${{ secrets.MOJ_AUTO_APPROVE_WRITE_BOT_PAT }}"
